:root{
    --primary-color: rgb(9, 209, 126);
    --secondary-color: #ececec;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}
.capa{
    height: 100vh;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    color: #fff;
    padding: 20px;
}
#myVideo {
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -1000;
    background-size: cover; 
    
}
.capa>p{
    padding: 30px;
    margin: 0 0 70px 0;
    font-size: 0.5m;
}
.capa div p{
    letter-spacing: 0.1em;
}
.capa div p:first-child{
    padding-top: 35px;
}
.capa div p:first-child, .capa div p:nth-child(3){
    font-size: 1.2em;
    font-weight: 700;
    font-family: 'Lora', serif;
}

.capa div p:nth-child(2){
    font-size: 3em;
    font-weight: 700;
    position: relative;
    line-height: 50px;
    font-family: 'Lora', serif;
}
.capa div p:nth-child(4){
    font-size: 0.8em;
    letter-spacing: 0.1em;
    width: 90vw;
    padding: 20px;
    margin: 20px;
    border: 0.7px solid #fff;
    text-transform: initial;
    position: relative;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.362);
    border-radius: 5px;
}
.conheca{
    position: absolute;
    bottom: 50px;
}

#scrollDown {
    position: relative;
    text-transform: uppercase;
    border: none;
    font-size: 0.8em;
    color: #fff;
}
#scrollDown::after {

    position: absolute;
    top: 21px;
    left: 41px;
    transition: top 0.3s ease-in-out;
    border-right: 0.1em solid #fff;
    border-bottom: 0.1em solid #fff;
    content: "";
    display: inline-block;
    height: 1em;
    vertical-align: bottom;
    width: 1em;
    transform: rotate(45deg);
}
#scrollDown:hover::after {
    top: 10px;
}
main{
    background-color: #fff;
}

main h2{
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-top: 20px;
    font-family: 'Lora', serif;
}

footer{
    background-color: rgb(228, 228, 228);
    text-align: center;
    padding: 10px;
}

footer p {
    margin:0;
    padding:0;
}
.capa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.infos-capa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search{
    display: flex;
    justify-content: center;
    margin: 20px;
    max-width: 90vw;
}
.search input{
    width: 400px;
    padding: 12px;
    font-size: 1.1em;
    border-radius: 5px 0 0 5px;
    border: none;
}
.search button{
    padding: 12px;
    font-size: 1.3em;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: var(--primary-color);
    color: white;
}
.container{
    padding: 50px 30px;
    color: #000;

}
.white{
    color: #fff;
}
.primary{
    background-color: var(--primary-color);
}

.conteudo{
    display: flex;
    justify-content: space-between;
    margin: 30px 0 20px;
    text-align: center;
    flex-direction: column;
}
.block {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 10px 0;
    padding: 30px 15px;
}


.avatar{
    font-size: 3em;
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.block:nth-child(2){
    background-color: white;
}
.block:nth-child(2) .avatar, .block:nth-child(2) .info{
    color: var(--primary-color);
}
.block:nth-child(2) .avatar{
    border: 1px solid var(--primary-color);
}

.cidades{
    font-weight: 700;
    margin-bottom: 10px;
}
.lista{
    font-size: 0.8em;
    line-height: 20px;
    color: grey;
}
.back{
    background-image: url(../img/fotos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;

}
.back .gradiente{
    padding: 50px 50px;
    background-image: linear-gradient(90deg,#000,rgba(210,180,145,0));
    min-height: 50vh;
}
hr{
    height: 4px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border: none;
    flex: 1 1 100%
}
.gradiente h2, .gradiente .conteudo{
    text-align: left;
}
.gradiente .btn{
    background-color: var(--primary-color);
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 40px;
    color: #fff;
    font-size: 0.9em;
    margin-top: 10px;
    width: 200px;
    display: flex;
    justify-content: center;
    margin-top: 30px;

}
.gradiente .btn, .search button{
    transition: background-color 0.4s ease;
}

.gradiente .btn:hover, .search button:hover{
    background-color:  rgb(7, 124, 75);
}
.gradiente .block{
    padding:0;
}
.sobre{
    margin-bottom: 20px;
}
.div{
    height: 100px;
    background-image: url(../img/poeira.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
}

.nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 20px 30px;
}
.nav .logo{
    font-size: 1.3em;
    color: white;
    font-family: 'Lora', serif;
}
.nav-cat{
    display: flex;
    justify-content: space-between;
}
.nav-item{
    margin: 0 10px;
    display: flex;
    align-items: center;
    color: white;
}

section .galeria {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0 auto;
}
.galeria .imagem{
    flex: 1 1 30%;
    min-width: 200px;
    position: relative;
    overflow: hidden;
}

img{
    max-width: 100%;
    display: block;
    transition: transform 0.6s;
}
.imagem:hover img{
    transform: translateY(-50px);
}

.legenda{
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.6s, opacity 0.1s 0.3s;
}
.imagem:hover .legenda{
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.6s, opacity 0.1s;
}

.lugares h1{
    font-family: 'Lora', serif;
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
}



@media only screen and (min-width: 769px) {
    main h2{
        font-size: 3em;
    }

    .capa>p{
        padding: 30px;
        margin: 0 0 70px 0;
        font-size: 0.7em;
    }
    .capa div p:first-child{
        padding-top: 35px;
    }
    .capa div p:first-child, .capa div p:nth-child(3){
        font-size: 2em;
        font-weight: 700;
    }
    .capa div p:nth-child(2){
        font-size: 8em;
        line-height: 120px;
    }
    .capa div p:nth-child(4){
        font-size: 0.9em;
        width: 100%;
    }
    
    #scrollDown {
        font-size: 0.8em;
    }

    .container{
        padding: 50px 100px;
        color: #000;
    
    }
    .conteudo{
        flex-direction: row;
    }
    .block {
        width: 30%;
    }

    .back{
        background-position-y: -150px;
   
    }

    .nav{
        padding: 20px 100px;
    }
    .nav .logo{
        font-size: 1.3em;
    }
    .nav-item{
        margin: 0 10px;
    }
    
}